
* {
    box-sizing: border-box;
    background-color: #b6c369;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f1e2d0;
    
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 150px) 1fr;
    grid-template-rows: 50px;
    justify-content: center;
    justify-items: end;
    justify-self: start;
    list-style-type: none;
    margin-bottom: 160px;
    background-color: #f1e2d0;
}

nav ul li {
    font-family: "Poppins", sans serif;
    font-weight: 600;
    font-size: 1.5em;
    background-color: #f1e2d0;
    width: 90%;
    text-align: center;
    line-height: 50px;
}

nav ul li a {
    color: #000;
    background-color: #f1e2d0;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #b3d9ae;
}

.container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1em;
   padding: 40px;
}

#welcome {
    width: 100%;
    background-color: #f1e2d0;
}

.container-header {
    grid-row: 1;
    grid-column: span 12;
    text-align: center;
    padding: 10px;
    background-color: #f1e2d0;
}

#profile-pic {
    width: 500px;
    border-radius: 30px;
    display: block;
    padding: 20px 20px 100px 20px;
    background-color: white;
    border: 2px solid #776958;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    border-radius: 40px;
    padding: 10px 40px 5px 60px;
    background-color: #e8b536;
    height: 550px;
}

.greeting-img {
    background-color: #e8b536;
    border-radius: 40px;
    margin-top: -150px;
    height: 500px;
}

.greeting-text {
    font-family: "Playfair Display", serif;
    font-size: 3.5em;
    text-align: left;
    background-color: #f1e2d0;
    border: 2px solid #776958;
    border-radius: 40px;
    padding: 50px;
    width: 600px;
    margin: 120px 50px 200px 50px;
}

div p {
    background-color: #f1e2d0;
}

#i-am {
    font-family: "Playfair Display", serif;
    font-size: .6em;
}

.name-and-description {
    grid-row: 3;
}
.main-content {
    grid-row: 3;
}
  
.footer {
    grid-row: 4;
    grid-column: span 12;
}