/* creates animation slideleft, 
    creates background movement from left to right */
@keyframes slideleft {
    from {
        background-position: 0%;
    }
    to {
        background-position: 50000%;
    }
}

body {
    background-color: #2e2b40;
}

#city {
    background-image: url(city.PNG);
    height: 500px;
    width: 100%;
    animation: slideleft 600s infinite linear;
    position: absolute;
    bottom: 0;
}

.cat {
    background-image: url(cat.png);
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
}