body {
  background-color: #82b27c;
}

h1, h2 {
  font-family: "Fraunces", serif;
  
}

div {
  background-color: #82b27c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

ul.ingredients {
  list-style-type: none;
}


#recipeHeader {
  border: 5px solid #b3d9ae;
  margin-left: 400px;
  text-align: center;
}

.description {
  border: 5px solid #b3d9ae;
  width: 800px;
  text-align: center;
  padding: 10px;
  margin: 10px 250px 10px;
}

img {
  border-radius: 60px;
  padding: 20px;
}

.left {
  width: 600px;
  float: left;
  margin-top: 30px;
  padding: 30px;
}

.right {
  width: 600px;
  float: left;
  margin-left: 30px;
  padding: 20px;
}
