body {
  background-color: #b3d9ae;
}

h1, h2 {
  font-family: "Fraunces", serif;
  text-align: center;
  color: #EDEFE9;
  padding: 10px;
}

div {
  background-color: #82b27c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#recipeHeader {
  text-align: center;
}

ol.instructions {
  width: auto;
  border: 5px solid #b3d9ae;
  border-radius: 20px;
  background-Color: #b3d9ae;
  padding: 30px;
}

/* removes bullet points on ul */
ul.ingredients {
  list-style-type: none;
  border: 5px solid #b3d9ae;
  border-radius: 20px;
  background-Color: #b3d9ae;
  padding: 10px;
}

.description {
  margin: auto;
  width: 600px;
  border: 5px solid #b3d9ae;
  border-radius: 20px;
  background-Color: #b3d9ae;
  text-align: center;
  padding: 10px;
}

img {
  border-radius: 60px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.left {
  width: 600px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px;
}

.right {
  width: 600px;
  margin: 20px;
  padding: 20px;
}

#congratulations {
  text-align: center;
}

.otherRecipes {
  text-align: center;
}
