body {
  background-color: #82a07e;
}

nav {
  margin-bottom: 40px;
}

h1,
h2 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 3em;
  text-align: center;
  color: #EDEFE9;
  padding: 10px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  color: #EDEFE9;
  padding: 10px;
}

div {
  background-color: #82b27c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


#recipeHeader {
  text-align: center;
  padding-top: 20px;
}

ol.instructions {
  width: auto;
  border: 5px solid #b3d9ae;
  border-radius: 40px;
  background-Color: #b3d9ae;
  padding: 50px;
}

#ingredientsListDiv {
  width: auto;
}

.description {
  margin: auto;
  width: 600px;
  border: 5px solid #b3d9ae;
  border-radius: 40px;
  background-Color: #b3d9ae;
  text-align: center;
  padding: 10px;
}

img {
  border-radius: 40px;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 20px 20px 5px #6b8668;
}

#img {
  text-align: center;
}

.credit {
  margin-top: 30px;
}

.left {
  width: 600px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 30px;
}

.right {
  width: 600px;
  margin: 20px;
  padding: 20px;
}

.step:hover {
  color: #82a07e;
  background-color: #EDEFE9;
  padding: 6px;
  border-radius: 35px;
}

.ing:hover {
  color: #EDEFE9;
  background-color: #82a07e;
  padding: 4px;
  border-radius: 20px;
}

#congratulations {
  font-size: 1.4em;
  text-align: center;
}

#congratulations:hover {
  color: #EDEFE9;
  background-color: #4f684c;
  padding: 10px;
  border-radius: 40px;
}

.otherRecipes {
  text-align: center;
}

li {
  list-style-type: none;
  padding: 10px;
}

label {
  padding: 10px;
  border-radius: 20px;
}

label:hover {
  color: #EDEFE9;
  background-color: #4f684c;
  cursor: pointer;
}

/* media queries */
/* phones */

/* recipe header */
@media screen and (max-width: 150px) {
  #recipeHeader {
    width: 10px;
  }
}

@media screen and (max-width: 600px) {
  #recipeHeader {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  #recipeHeader {
    width: 600px;
  }
}

@media screen and (max-width: 550px) {
  .description {
    width: 450px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 750px) {
  .description {
    width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}