/* style added to listSightings.jsx */
#sightings-tracking-header {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    padding: 20px;
    
    border-radius: 40px;
    color: white;
    background-color: olivedrab;
}

body {
    background-color: rgb(244, 240, 197);
}

#add-sighting-btn {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 40px;
    border: none;
    background-color: rgb(176, 205, 119);
    color: white;
    font-size: 2rem;
}

#add-sighting-btn:hover {
    background-color: olivedrab;
}


/* style added to sightings.jsx */
.card {
    border-radius: 40px;
    height: 40rem;
    box-shadow: 0px 5px 5px rgb(226, 220, 220);
}

.card:hover {
    background-color: honeydew;
}