/*
-- colors --
vanilla #f1e8dd
tan #dab9a1
copper #a75f37

mint #b9e1da
green #7a9590
blush #f2d5ce
pink #ca8f82

-- font ---
sniglet 

*/

body {
  background-color: #e9c0efc7;
}

#gameHeader {
  text-align: center;
  font-family: 
}

#showPlayer {
  text-align: center;
}

#winner {
  margin: auto;
  width: 300px;

  text-align: center;

  border-radius: 30px;
  background-color: #f1e8dd;

}

#winner:hover {
  color: #f1e8dd;
  background-color:#a75f37;
}

#gameBoard {
  width: 770px;
  height: 660px;
  gap: 10px;

  margin: auto;
  padding: 20px;
  
  display: flex;
  flex-wrap: wrap;

  border-right: 50px solid #a75f37;
  border-left: 50px solid #a75f37;
  background: #dab9a1;
}

.slot {
  width: 100px;
  height: 100px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #f1e8dd;
  border-radius: 100px;
}