/*
-- colors --
vanilla #f1e8dd
tan #dab9a1
copper #a75f37

mint #b9e1da
green #7a9590
blush #f2d5ce
pink #ca8f82

-- font ---
sniglet 

*/



#gameHeader {
  text-align: center;
  font-family: 
}

#gameBoard {
  margin: auto;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;

  width: 700px;
  height: 600px;

  border-right: 50px solid #a75f37;
  border-left: 50px solid #a75f37;
  background: #dab9a1;
}

.slot {
  width: 100px;
  height: 100px;
  background: #f1e8dd;
  border-radius: 50px;
}