* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-align: center;
}

p {
  margin: auto;
  font-size: 1.5em;
}

h2 {
  margin: auto;
  font-size: 2em;
}

.app{
  min-height: 100vh;
  display: grid;
  background: aliceblue;
}

.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#input {
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
}

#button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.2em;
}