* {
  margin: auto;
  text-align: center;
}

body {
  background-color: lightblue;
}

p {
  margin: auto;
  font-size: 1.5em;
}

h2 {
  padding: 5px;
  margin: auto;
  font-size: 2em;
}

.app{
  padding: 20px;
  padding-top: 40px;
  min-height: 80%;
  display: grid;
  margin: auto;
}

.form {
  margin: auto;
}

.weather-icon {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

#input {
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
}

#button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.2em;
}

.weatherData {
  margin: auto;
  height: auto;
  padding: 20px;
  border-radius: 30px;
}