.form-posts {
    height: 620px;
    padding: 20px 30px;
    border-radius: 40px;
    background-color: aliceblue;
}

.form-group {
    padding: 10px 0px;
}

.form-label {
    padding: 10px 0px;
}

#add-content {
    verticalAlign: 'top'
}

input {
    border-radius: 20px;
}

#create-post-header {
    text-align: center;
}